body {
    background-color: rgb(141, 141, 141);
}
.gitNoms, .theCodingChefs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gitNoms {
    padding: 30px;
    margin: 100px 60px;
}
.theCodingChefs {
    padding: 30px;
    margin: 60px
}
.theCodingChefs h2, .gitNoms h2 {
    padding: 50px;
}
.teamMembers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.steven, .woosik, .collen, .anselem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 10px 10px 0 10px;
    border-radius: 15px;
    background-color: white;
    padding: 0 10px 0 10px;
}
.recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 1rem;
    margin: 0 auto;
    margin-top: 96px;
    max-width: 1200px;
    padding: 1rem;
}
.App {
    background-color: rgb(141, 141, 141);
}
/* component Add */

.addContainer, .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.submit {
    margin: 1rem auto;
}

.card {
    border: 2px solid black;
}

.add-form {
    margin-top: 100px;
}

.about-text {
    font-size: 3vh;
    margin: 10px 40px 10px 40px;
}

.profile-img {
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rating-left {
    margin: 5px 30px 5px 30px;
}

.rating-right {
    margin: 5px 30px 5px 30px;
}

.search-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 1rem;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1200px;
    padding: 1rem;
}

.recipe-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 30px;
}

.confirm-edit {
    max-width: 150px;
    margin: 10px auto;
}