/* Attributes */
[theme="dark"] {
  --background-color: #3f3f3f;
  --color: #fff;
  --card-background-color: rgb(102, 79, 49);
  
  --mb-2-color: #bcc0a5;
}
[theme="light"] {
  --background-color: repeating-linear-gradient rgb(233, 203, 164);
  --card-background-color: white;
  --mb-2-color: #6c757d;
}

.about {
  background-color: var(--background-color);
  color: var(--color);
}
.steven,
.woosik,
.collen,
.anselem {
  background-color: var(--card-background-color);
}
.add-form {
  background-color: var(--background-color);
  color: var(--color);
}
.advanced-search {
  background-color: var(--background-color);
  color: var(--color);
}
.recipe-container {
  background-color: var(--background-color);
  color: var(--color);
}
.card-body {
  background-color: var(--card-background-color);
}
.mb-2.text-muted.card-subtitle.h6 {
  color: var(--mb-2-color)!important;
}
.search-results {
  background-color: var(--background-color);
  color: var(--color);
}