/* :root {
    --bg-color: #fff;
    --text-color: #000;
  }
   */
  /* [theme="dark"] {
    --bg-color: #3F3F3F;
    --text-color: #fff;
  } */
  [theme="dark"] {
    --background-color: #3F3F3F;
    --color: #fff;
    /* --card-color: #8d8d8d; */
  }
  [theme="light"] {
    --background-color: burlywood;
  }

  .about {
    background-color: var(--background-color);
    color: var(--color);
  }
  .add-form {
    background-color: var(--background-color);
    color: var(--color);
  }
  .advanced-search {
    background-color: var(--background-color);
    color: var(--color);
  }